* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --background-color: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  --primary-color: #ff7a8a;
  --secondary-color: #113a5d;
  --light-color: #f9f9f9;
  --dark-color: #062743;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background: var(--background-color) no-repeat center center/cover;
  font-size: larger;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-decoration: underline;
}

#player {
  flex: 1;
  padding: 1rem;
  max-width: 960px;
  padding-top: 20vh;
  width: 100%;

  #waveform {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: var(--secondary-color) solid 0.1rem;
    background-color: rgba($color: #ff7a8a, $alpha: 0.5);
    overflow: hidden;
    cursor: pointer;

    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #timestamp {
    color: var(--dark-color);
    padding: 0.5rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  #fileName {
    color: var(--dark-color);
    padding: 0.5rem;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    overflow: hidden;
  }

  #controls {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

    background-color: var(--secondary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    #volumeContainer {
      padding: 0.2rem;
      flex: 1;
      text-align: end;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    #main {
      padding: 0.2rem;
      display: flex;
      flex-direction: row;
      margin: auto;
      flex: 1;
      justify-content: center;
    }

    #playbackContainer {
      display: flex;
      flex-direction: column;
      color: var(--light-color);
      width: 4rem;
      flex: 1;

      * {
        width: 4rem;
        margin: 0.1rem;
      }
    }

    button {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 0.5rem;
      border-radius: 50%;
      color: var(--dark-color);
      background-color: var(--light-color);
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      cursor: pointer;

      &#play::before {
        content: '\f04b';
      }
      &#play.playing::before {
        content: '\f04c';
      }
      &#back::before {
        content: '\f04a';
      }
      &#forward::before {
        content: '\f04e';
      }
      &#mute::before {
        content: '\f028';
      }
      &#mute.muted::before {
        content: '\f6a9';
      }

      &#mute {
        background: none;
        color: var(--light-color);
        border: none;
        font-size: 1.2rem;
      }

      &#back,
      &#forward {
        width: 2rem;
        height: 2rem;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

#loadFileContainer {
  flex: 1;
  margin: auto;
  text-align: center;
  color: var(--dark-color);
  padding: 0.5rem;
  width: fit-content;

  #audioFile {
    display: none;
  }

  #loadFile {
    width: 4rem;
    height: 4rem;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    border-radius: 50%;
    background: var(--dark-color);
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::before {
      font-size: xx-large;
      content: '\f093';
      color: var(--light-color);
    }
  }
}

#preloaded {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
  // border: #062743 solid 1px;
  width: fit-content;
  margin: auto;

  color: var(--dark-color);

  p {
    margin: 0.5rem;
  }

  a {
    text-decoration: underline;
    color: var(--dark-color);
  }
}

footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  font-size: large;

  p {
    padding: 0.5rem;
    flex: 1;
  }

  #name {
  }

  #stack {
    text-align: center;
  }

  a {
    padding: 0.5rem;
    text-decoration: underline;
    color: var(--light-color);
    flex: 1;
    text-align: end;
  }

  width: 100%;
  background: var(--dark-color);
  color: var(--light-color);
}

@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;

    #name {
      align-self: center;
    }
    #stack {
      align-self: center;
    }
    a {
      align-self: center;
    }
  }
}

@media screen and (max-width: 680px) {
  #player {
    #controls {
      #main {
        flex: auto;
      }

      #voleumeContainer {
        flex: auto;
      }

      #playbackContainer {
        flex: auto;
      }
    }
  }
}
